body{
    background-color: rgb(183, 217, 229);
    margin: 0;
    display: flex;
    color: darkolivegreen;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;


}

.heading{
    margin: 5px;
    font-size:35px ;
}


.container{
    background:rgba(255,255,255,.3);
    box-shadow: 0 50px 10px rgba(0,0,0, 0.3);
    width: 85%;
    max-width: 700px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    /* display: grid; */
}

.ratings-container{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.feedback-emojis{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    display: grid;
    font-weight: 900;
}

.feedback-emojis:hover,
.feedback-emojis.active
{
    background-color: rgba(65, 94, 12, 0.3);
    box-shadow: 0 10px 3px rgba(0,0,0, 0.3);
    border-radius: 10px;
    color: aliceblue;
    transition: all 300ms ease;
}

.emoji{
    height: 40px;
    padding: 10px;
    margin: 10px;

}

.feedback-button{
    background-color: darkcyan;
    color: aliceblue;
    border:0;
    border-radius: 5px;
    margin: 10px;
    padding: 12px 30px;
    cursor: pointer;

}

.feedback-button:hover{
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
    transition: all 300ms ease;

}

.feedback-button:active{
    transform: scale(0.96);
}
    
